@charset "utf-8";

.main {
  min-height: calc(100vh - 4rem - 81px);
}

/* quill custom css */
.ql-toolbar.ql-snow {
  border: none !important;
  background-color: #e6d4c26f;
}

.ql-container {
  min-height: 180px;
  color: #3b3936;
  border: none !important;
}

.ql-editor p {
  font-size: 0.9375rem !important;
}

.ql-snow .ql-editor h3 {
  font-size: 1.05rem !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  font-size: 14px;
  color: #c2a788;
}
