@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #3b3936;
  --beige: #f6f3f0;
  --brown-200: #e6d4c2;
  --brown-300: #c2a788;
  --brown-400: #9b8772;
  --brown-500: #695c4f;
  --brown-600: #504538;
  --brown: #3b3936;
  --green: #06ac59;
  --red: #fb3535;
}

.selected {
  color: #695c4f;
  font-weight: bold;
  background-color: #f6f3f0;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.custom-button.disabled {
  opacity: 0.3;
  pointer-events: auto !important;
  cursor: not-allowed !important;
}

.submit-btn {
  background-color: var(--brown-500);
  color: white;
}

.submit-btn:hover {
  background-color: var(--brown-600);
}

.cancel-btn {
  background-color: white;
  color: var(--brown);
  border: 1px solid var(--brown-300);
}

.cancel-btn:hover {
  background-color: var(--beige);
  border: 1px solid var(--brown-300);
}

.arrow-left-sm {
  @apply w-arrowSize-sm h-arrowSize-sm border-b border-l origin-center rotate-45;
}

.arrow-right-sm {
  @apply w-arrowSize-sm h-arrowSize-sm border-t border-r origin-center rotate-45;
}

.arrow-up-sm {
  @apply w-arrowSize-sm h-arrowSize-sm border-t border-l origin-center rotate-45;
}

.arrow-down-sm {
  @apply w-arrowSize-sm h-arrowSize-sm border-b border-r origin-center rotate-45;
}
