@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #3b3936;
}

.selected {
  color: #695c4f;
  font-weight: bold;
  background-color: #f6f3f0;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}
